/* header css */

*
{
     font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
body
{
        background-color: #fff;

}
.navbar {
    /*background-color: #333;*/
    background-color: transparent;
    border-color: transparent;
   height: auto !important;
    margin:0!important;
}
.navbar-nav{
    margin-top: 13px;
}
.nav-ul li a{
    padding:5px;
}
.nav-ul li{
    margin-right: 15px;
}
.nav-ul li:hover{
    background: #ffffff;
    color: #000;
}
.nav-gray-bg {
    background-color:#c66d43;
}

.navbar-brand {
    height: auto;
    padding: 0 15px;
}

.navbar-brand img {
    margin-top: 5px;
    width: 120px;
}

/*.navbar-nav {*/
    /*margin-top: 20px;*/
/*}*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #777;
}


/* header css end */

.carousel-caption{
    width: 80%;
    top: 200px;
    left: 10% !important;
}
.carousel-caption p {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}

.carousel-indicators img {
    border: 2px solid #8e8e8e;
    width: 160px;
    height: 100px;
}

.carousel-indicators .active {
    width: 160px;
    height: 100px;
    border: 2px solid #fff;
}

.peitu-title {
    color: #fff;
    font-size: 16px;
    margin-top: -80px;
}

.peitu-desc {
    margin-top: 80px;
}

.content-block {
    padding-top: 50px;
    padding-bottom: 100px;
    color: #333;
}

.content-block a {
    color: #333;
}

.content-block h2 {
    font-size: 24px;
    margin: 20px 0;
}

.content-block h3 {
    font-size: 16px;
}

.content-block .desctext {
    line-height: 30px;
    font-size: 16px;
    margin-top: 10px;
    text-indent: 2em;
}

.content-block .button {
    border: 1px solid #333;
    display: block;
    width: 120px;
    margin: 50px auto 0 auto;
    padding: 8px 10px;
    color: #333;
    font-size: 16px;
}

.content-block hr {
    margin: 50px 0;
}

.content-gray {
    background-color: #fdeee3;
}

.content-gray .button {
    color: #fff;
    background-color: #dda57c;
    border: 1px solid #9d583f;
}

.content-darkgray {
    color: #fff;
    background-color: #c19678;
    padding: 50px 0 10px 0;
}

.booklist img {}

.footer p {
    font-size: 16px;
    padding-bottom: 10px;
}

.footer li {
    list-style-type: none;
    margin: 10px 0;
}

.footer a {
    color: #fff;
}

.copyright {
    text-align: center;
}

.booklist a {
    display: -webkit-inline-box;
    margin: 7px;
    position: relative;
}

.booktitle {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 45px;
    font-size: 16px;
    font-weight: 900;
    padding: 5px;
}
.carousel-indicators img{
    width: 20px !important;
    height: 20px !important;
    border:1px solid #CCC;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
/*轮播文字*/
.banner-title{
    font-size: 60px;
}
.banner-text{
    width:100%;
    height: auto;
    font-size: 20px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    text-align: center !important;
}
@media screen and (max-width: 900px) {
    .banner-title{
        font-size: 30px;
    }
    .banner-text{
        font-size: 18px;
    }
}
@media screen and (min-width: 1400px) {
    .banner-title{
        font-size: 80px;
    }
    .banner-text{
        font-size: 30px;
    }
}
.container p
{
    font-size: 16px;
    line-height: 25px;
}

.live {position: absolute;width: 100%;height: 100px;z-index: 9999;top: 70px;text-align: center; } 
.live img { width: 300px; height: 100px; }